.pagination-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.pagination-nav button {
    cursor: pointer;
}

input.pagination-input {
    text-align: right;
    margin-inline: 0.75rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    max-width: 7rem;
}

@media (min-width: 500px) {
    .pagination-nav {
        flex-direction: row;
    }
}