.pagination-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.pagination-nav button {
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px #fef;
    color: #fff;
    padding: 0.25rem 0.5rem;
    background: oklch(23.082% 0.10613 328.352);
}

.pagination-nav button:hover:not(:disabled) {
    background: oklch(38.082% 0.10613 328.352);
}

.pagination-nav button:disabled {
    cursor: default;
    opacity: 0.55;
}

input.pagination-input {
    text-align: right;
    margin-inline: 0.75rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    max-width: 7rem;
}

@media (min-width: 500px) {
    .pagination-nav {
        flex-direction: row;
    }
}